/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body {
	font-family: Roboto, sans-serif;
  }
.header{
	padding:308px 810px 308px 806px;
	background: url("../images/banner.png") no-repeat 100%;
	border:1px solid #707070;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header .word{
	width: 340px;
	height: 342px;
	color: #fff;
}
h1{
	font-size: 80px;
	line-height: 106px;
	margin-bottom: 32px;
}
.header .word .p1{
	font-size: 24px;
	line-height: 42px;
}
.header .word .p2{
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 40px;
}
.header .word ul{
	display: flex;
	justify-content: space-evenly;
}
.about{
	padding: 20px 768px;
}
.black{
	font-size: 64px;
	line-height: 84px;
	color: #000;
	margin-top: 60px;
	margin-bottom: 40px;
	text-align: center;
}
.about ul{
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	margin-bottom: 20px;
}
.topline{
	border-top: 1px solid #000;
	padding-top: 20px;
}
.dot {
	display: flex;
	align-items: center;
	justify-content: center;
}
.dot::before {
	content: '';
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-color: #891818;
	margin-right: 16px;
}
.brand{
	background-color: #000;
	padding-top: 20px;
	padding-bottom: 160px;
}
.white{
	font-size: 64px;
	line-height: 84px;
	color: #fff;
	margin-top: 60px;
	margin-bottom: 20px;
	text-align: center;
}
.brand .w24{
	color: #fff;
	font-size: 24px;
	text-align: center;
	margin-bottom: 20px;
	line-height: 42px;
}
.brand .w20{
	color: #fff;
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
	line-height: 30px;
}
.brand .images1{
	padding: 20px 564px;
}
.brand .images2{
	display: flex;
	justify-content: space-between;
	padding: 0px 360px;
}
.f2030{
	font-size: 20px;
	line-height: 30px;
}
.otherwork{
	width: 1190px;
	margin: 0 auto;
}
.otherwork p{
	font-size: 20px;
	line-height: 42px;
	text-align: center;
}
.otherwork .images3-1{
	display: flex;
	justify-content: space-between;
}
.otherwork .images2{
	display: flex;
	justify-content: space-between;
}
.otherwork .images3-2{
	display: flex;
	justify-content: space-between;
}
.footer{
	background-color: #000;

	padding-bottom: 20px;
}
.footer p{
	color: #fff;
	text-align: center;
	font-size: 24px;
	line-height: 36px;
}